.logout-button{
    -fx-background-color: white;
    -fx-border-color: #ccc;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-text-fill: black;
    -fx-padding: 5 15;
    -fx-cursor: hand;
}
.logout-button:hover {
    -fx-background-color: #f0f0f0;
}
.logout-button:focused {
    -fx-background-color: transparent;
    -fx-border-color: #cccccc;
}